* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#18BC9C;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

header {
  margin-top: 50px;
}

header .searchBox {
  margin-top: 20px;
}

header .searchBox input {
  width: 65%;
  font-size: 20px;
  font-weight: 300;
  border-radius: 8px;

  border: none;
  outline: none;
  background: none;

  background-color:#FFF;
  padding: 15px

}

header .searchBox button {
  width: 10%;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 300;
  height: 53px; 
  border-radius: 8px;

  background-color: #2c3e50;
  color: white;
  outline: none;
  border: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

main .errorPictures {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

main .allPictures {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 15px;
  justify-content: space-evenly;
}

main .allPictures .picture {
  width: 46%;
  min-height: 330px;
}

main .allPictures .picture  {
  text-decoration: none;
}

main .allPictures .picture  img {
  max-width: 100%;
  height: 280px;
  padding: 5px
}

main .allPictures .picture h2 {
  text-transform: capitalize;
  flex: 1 1 100%;
  color: #FFF;

}

main .navPagination {
  text-align: center;
  margin: 10px auto;
}

main .navPagination nav ul {
  display: flex;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

main .navPagination nav ul li {
  list-style: none;
  padding: 0 5px;
  margin: 15px auto 10px auto
}

main .navPagination nav ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

/* Média Queries */

@media screen and (max-width: 359px) {

  header .searchBox input {
    width: 90%;
  }

  header .searchBox button {
    display: block;
    margin: 10px auto;
    width: 30%
  }


  main .allPictures .picture {
    width: 90%;
  }

  main .navPagination {
    margin: 0;
  }

  main .navPagination nav ul {
    width: 70%;
  }

}

@media screen and (min-width: 360px) and (max-width: 498px) {
  header .searchBox input {
    width: 90%;
  }

  header .searchBox button {
    display: block;
    margin: 10px auto;
    width: 30%
  }


  main .allPictures .picture {
    width: 90%;
  }

  main .navPagination {
    margin: 0;
  }

  main .navPagination nav ul {
    width: 70%;
  }
}