* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#18BC9C;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

header {
  margin-top: 50px;
}

header .searchBox {
  margin-top: 20px;
}

header .searchBox input {
  width: 65%;
  font-size: 20px;
  font-weight: 300;
  border-radius: 8px;

  border: none;
  outline: none;
  background: none;

  background-color:#FFF;
  padding: 15px

}

header .searchBox button {
  width: 10%;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 300;
  height: 53px; 
  border-radius: 8px;

  background-color: #2c3e50;
  color: white;
  outline: none;
  border: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main .allPictures {
  width: 33.333%;
}

